<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="dotnet/roslyn/sourceMap" value="https://raw.githubusercontent.com/natidea/scratchws/master/RoslynFileMap/RoslynFileMap/output/roslyn.json" />
    <add key="dotnet/coby/rootDir" value="D:\Repos\github\coby\src" />
    <add key="dotnet/coby/sourceMap" value="https://raw.githubusercontent.com/natidea/scratchws/master/RoslynFileMap/RoslynFileMap/output/coby.json" />
    <add key="dotnet/coby/output" value="../../output/coby.json" />
  </appSettings>

</configuration>